.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 2rem;
  max-height: 100vh;
}




.main_screen_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
  gap: 4rem;
  padding: 2rem;
  max-height: 100vh;
}